<div class="row" ng-repeat="section in sections">
	<div class="col-xs-12">
		<h3>{{ section.label }}</h3>
		<ng-include src="section.templateUrl"
			ng-if="true"
			onload="data = section.container"></ng-include>
	</div>
</div>