<div class="form-group">
	<label for="{{ property }}" class="col-xs-4 control-label">
		<div class="text-left">{{ label }}</div>
	</label>
	<div class="col-xs-1">
		<input ng-if="allowOverride" type="checkbox" class="form-control"
				ng-model="override" ng-click="overrideChanged()" />
	</div>
	<div class="col-xs-7">
		<div ng-if="allowOverride && !override"
				ng-transclude="inherit">
		</div>
		<div ng-if="!allowOverride || override"
				ng-transclude="override">
		</div>
	</div>
</div>