<div class="form-group">
	<label for="name" class="col-xs-4 control-label"><div class="text-left">Name:</div></label>
	<div class="col-xs-8">
		<div><input type="text" 
				id="name" name="name" 
				class="form-control" ng-model="item.name" required /></div>
		<div ng-if="form.name.$error.required" class="alert alert-danger">Must not be empty</div>
	</div>
</div>

<production-settings form="form" page="item"></production-settings>