<uib-accordion close-others="true">
	<div uib-accordion-group class="panel-default" heading="General Production Settings">
		<settings-form-group property="'defaultMeLevel'" label="'Default ME Level'"
				target="item" parent="parent">
			<override>
				<slider model="item.defaultMeLevel" max="10" step="1"></slider>
			</override>
			<inherit>
				<slider model="parent.defaultMeLevel" max="10" step="1" disabled="true"></slider>
			</inherit>
		</settings-form-group>
		
		<settings-form-group property="'defaultTeLevel'" label="'Default TE Level'"
				target="item" parent="parent">
			<override>
				<slider model="item.defaultTeLevel" max="20" step="2"></slider>
			</override>
			<inherit>
				<slider model="parent.defaultTeLevel" max="20" step="2" disabled="true"></slider>
			</inherit>
		</settings-form-group>
		
		<settings-form-group property="'defaultSkillLevel'" label="'Default Skill Level'"
				target="item" parent="parent">
			<override>
				<slider model="item.defaultSkillLevel" max="5" step="1"></slider>
			</override>
			<inherit>
				<slider model="parent.defaultSkillLevel" max="5" step="1" disabled="true"></slider>
			</inherit>
		</settings-form-group>
		
		<settings-form-group property="'decryptorID'" label="'Invention Decryptor'"
				target="item" parent="parent">
			<override>
				<decryptor-select model="item.decryptorID"></decryptor-select>
			</override>
			<inherit>
				<decryptor-select model="parent.decryptorID" disabled="true"></decryptor-select>
			</inherit>
		</settings-form-group>
	</div>
	
	<div uib-accordion-group class="panel-default"
			heading="Production Costs Settings">
		<settings-form-group property="'productionSystemID'" label="'Fetch Cost Indices From'"
				target="item" parent="parent">
			<override>
				<system-select model="item.productionSystemID"></system-select>
			</override>
			<inherit>
				<system-select model="parent.productionSystemID" disabled="true"></system-select>
			</inherit>
		</settings-form-group>
		<settings-form-group property="'manufacturingCostIndex'" label="'Manufacturing CI'"
				target="item" parent="parent">
			<override>
				<float-input form="form" model="item.manufacturingCostIndex" id="'manufacturingCostIndex'"></float-input>
			</override>
			<inherit>
				<float-input form="form" model="parent.manufacturingCostIndex" id="'manufacturingCostIndex'" disabled="true"></float-input>
			</inherit>
		</settings-form-group>
		<settings-form-group property="'copyingCostIndex'" label="'Copying CI'"
				target="item" parent="parent">
			<override>
				<float-input form="form" model="item.copyingCostIndex" id="'copyingCostIndex'"></float-input>
			</override>
			<inherit>
				<float-input form="form" model="parent.copyingCostIndex" id="'copyingCostIndex'" disabled="true"></float-input>
			</inherit>
		</settings-form-group>
		<settings-form-group property="'inventionCostIndex'" label="'Invention CI'"
				target="item" parent="parent">
			<override>
				<float-input form="form" model="item.inventionCostIndex" id="'inventionCostIndex'"></float-input>
			</override>
			<inherit>
				<float-input form="form" model="parent.inventionCostIndex" id="'inventionCostIndex'" disabled="true"></float-input>
			</inherit>
		</settings-form-group>
		<settings-form-group property="'facilityTax'" label="'Facility Tax [%]'"
				target="item" parent="parent">
			<override>
				<float-input form="form" model="item.facilityTax" id="'facilityTax'"></float-input>
			</override>
			<inherit>
				<float-input form="form" model="parent.facilityTax" id="'facilityTax'" disabled="true"></float-input>
			</inherit>
		</settings-form-group>
	</div>
	
	<div uib-accordion-group class="panel-default"
			heading="Market Settings">
		<settings-form-group property="'buySystemID'" label="'Buy System'"
				target="item" parent="parent">
			<override>
				<system-select model="item.buySystemID"></system-select>
			</override>
			<inherit>
				<system-select model="parent.buySystemID" disabled="true"></system-select>
			</inherit>
		</settings-form-group>
		<settings-form-group property="'sellSystemID'" label="'Sell System'"
				target="item" parent="parent">
			<override>
				<system-select model="item.sellSystemID"></system-select>
			</override>
			<inherit>
				<system-select model="parent.sellSystemID" disabled="true"></system-select>
			</inherit>
		</settings-form-group>
		
		<settings-form-group property="'salesTax'" label="'Sales Tax [%]'"
				target="item" parent="parent">
			<override>
				<float-input form="form" model="item.salesTax" id="'salesTax'"></float-input>
			</override>
			<inherit>
				<float-input form="form" model="parent.salesTax" id="'salesTax'" disabled="true"></float-input>
			</inherit>
		</settings-form-group>
		<settings-form-group property="'brokerFee'" label="'Broker Fee [%]'"
				target="item" parent="parent">
			<override>
				<float-input form="form" model="item.brokerFee" id="'brokerFee'"></float-input>
			</override>
			<inherit>
				<float-input form="form" model="parent.brokerFee" id="'brokerFee'" disabled="true"></float-input>
			</inherit>
		</settings-form-group>
	</div>
	
	<div uib-accordion-group class="panel-default"
			heading="Individual Blueprint ME Levels"
			ng-if="requestMode">
		<multi-slider items="request.acquisition.allBlueprints" label="'blueprint'"
				max="10" step="1" model="item.bpID2MeLevel" request="request"
				default-property="'defaultMeLevel'"></multi-slider>
	</div>
	<div uib-accordion-group class="panel-default"
			heading="Individual Blueprint TE Levels"
			ng-if="requestMode">
		<multi-slider items="request.acquisition.allBlueprints" label="'blueprint'"
				max="20" step="2" model="item.bpID2TeLevel" request="request"
				default-property="'defaultTeLevel'"></multi-slider>
	</div>
	<div uib-accordion-group class="panel-default"
			heading="Individual Skill Levels"
			ng-if="requestMode">
		<multi-slider items="request.acquisition.allSkills" label="'skill'"
				max="5" step="1" model="item.skillID2Level" request="request"
				default-property="'defaultSkillLevel'"></multi-slider>
	</div>
</uib-accordion>