<div class="modal-header">
	<h3 class="modal-title">Delete {{ $ctrl.metaData.labelLc }} {{ $ctrl.item.name }}?</h3>
</div>
<div class="modal-body">
	Are you sure you want to do this? All associated data (including production
	options) will be lost forever.
</div>
<div class="modal-footer">
	<button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">OK</button>
	<button class="btn btn-primary" type="button" ng-click="$ctrl.cancel()">Cancel</button>
</div>