<div class="modal-header">
	<h3 class="modal-title">Edit {{ $ctrl.metaData.labelLc }}:</h3>
</div>
<div class="modal-body">
	<form class="form-horizontal" name="form">
		<ng-include if="true" src="$ctrl.metaData.templateUrl" onload="item = $ctrl.item"></ng-include>
	</form>
</div>
<div class="modal-footer">
	<button class="btn btn-primary" type="button" ng-click="$ctrl.ok()" ng-disabled="form.$invalid">OK</button>
	<button class="btn btn-primary" type="button" ng-click="$ctrl.cancel()">Cancel</button>
</div>