<div ng-if="!data.authenticated()">
	<a href="" ng-click="data.login()">Login</a>
</div>
<div ng-if="data.authenticated()">
	<p>
		Logged in as: {{ data.username }}
		<a href="" ng-click="data.logout()">Logout</a>
	</p>
	<div ng-show="expired">
		Warning: Your login is about to expire. <a href="" ng-click="data.refreshToken()">Refresh</a>
	</div>
</div>
<div ng-if="data.errorMessage">
	{{ data.errorMessage }}
</div>