<ui-select ng-model="select.item" on-select="selected()" ng-disabled="disabled">
	<ui-select-match>
		<span ng-bind="$select.selected.name"></span>
	</ui-select-match>
	<ui-select-choices repeat="item in decryptorArray">
		<div>{{ item.name }}</div>
		<div class="small">
			Chance * {{ item.probabilityMod }},
			Runs + {{ item.runMod }},
			ME + {{ item.meMod }},
			TE + {{ item.teMod }}
		</div>
	</ui-select-choices>
</ui-select>