<ui-select multiple ng-model="selected.items"
		on-select="onSelect($item)" on-remove="onRemove($item)">
	<ui-select-match placeholder="Select {{ label }} to override">
		{{ $item.name }}
	</ui-select-match>
	
	<ui-select-choices repeat="item in itemsArray">
		{{ item.name }}
	</ui-select-choices>
</ui-select>

<div ng-repeat="(id, item) in model">
	<settings-form-group property="id" label="items[id].name"
			target="model">
		<override>
			<slider model="model[id]" max="max" step="step"></slider>
		</override>
	</settings-form-group>
</div>