<div class="form-control"
		style="border: solid black 1px; margin: 0px; padding: 2px;">
<table class="table"
		style="width: 100%; margin: 0px; padding: 0px;">
	<tr style="height: 100%; margin: 0px; padding: 0px;">
		<td ng-repeat="bar in bars" ng-class="bar.cls"
				style="border: solid white 3px; padding: 0px; cursor: pointer;"
				ng-mouseenter="setPreviewStyle(bar.value)"
				ng-mouseleave="resetStyle()"
				ng-click="setValue(bar.value)"></td>
		<td class="text-right" style="padding: 0px; width: 20px;">{{ previewValue }}</td>
	</tr>
</table>
</div>