<ui-select ng-model="selected.system" ng-disabled="disabled"
		on-select="onSelect($item)" on-remove="onRemove()">
	<ui-select-match placeholder="Select system"
			allow-clear="true">
		{{ $select.selected.name }}
	</ui-select-match>
	
	<ui-select-choices repeat="system in foundSystems"
			refresh="findSystems($select.search)"
			minimum-input-length="3">
		{{ system.name }}
	</ui-select-choices>
</ui-select>