<div ng-class="'alert ' + cls"
		ng-if="!model.postfix || model.infix.length != 0">
	{{ model.prefix }}
	<ul ng-if="model.infix.length != 0">
		<li ng-repeat="item in model.infix">{{ item }}</li>
	</ul>
	{{ model.postfix }}
</div>