<expense-group ng-if="model.expanded" 
		ng-repeat="group in model.subGroups" model="group"></expense-group>

<div ng-if="model.expanded && model.countItems() > 0">
	<div class="row" ng-repeat="(key, item) in model.items">
		<expense-item model="item"></expense-item>
	</div>
</div>

<div class="row bg-info"
		ng-class="model.expandable && (model.subGroups.length > 0 || model.countItems() > 0) ? 'panel-link' : ''"
		ng-click="model.toggle()">
	<expense-item model="model"></expense-item>
</div>