<div class="col-xs-3 text-left">
	{{ model.info.name ? model.info.name : model.info }}
</div>
<div class="col-xs-2 text-right">
	<isk-value ng-if="model.info.buyPrice <= 0" model="model.info.buyPrice"></isk-value>
	{{ model.info.details }}
</div>
<div class="col-xs-2 text-right">
	{{ model.count | number:0 }}
</div>
<div class="col-xs-2 text-right">
	<isk-value model="model.value"></isk-value>
</div>
<div class="col-xs-1 text-right">
	{{ model.countAll | number:0 }}
</div>
<div class="col-xs-2 text-right">
	<isk-value model="model.valueAll"></isk-value>
</div>