<!-- Details for currently selected page -->
<div class="row" ng-if="!data.currentPage.id">
	<div class="col-xs-12">
		Select a page to begin adding production requests.
	</div>
</div>

<div ng-if="data.currentPage.id">
	<div class="row panel panel-default"
			ng-repeat="request in data.currentPage.requests.items">
		<div class="col-xs-12">
			<div class="row panel">
				<div class="col-xs-3">
					{{ request.name }}
				</div>
				<div class="col-xs-1">
					<a href="" ng-click="update(request)">Edit</a>
				</div>
				<div class="col-xs-1">
					<a href="" ng-click="delete(request)">Delete</a>
				</div>
				<div class="col-xs-2" ng-if="!requestExpanded[request.id]">
					<a href="" ng-click="requestExpanded[request.id] = true">Show Details</a>
				</div> 
				<div class="col-xs-2" ng-if="requestExpanded[request.id]">
					<a href="" ng-click="requestExpanded[request.id] = false">Hide Details</a>
				</div>
				<div class="col-xs-5 text-right">
					<isk-value model="request.calculator.result.profit.value"></isk-value> / item
				</div>
			</div>
			<div class="row" ng-if="requestExpanded[request.id]">
				<div class="col-xs-12">
					<!-- using ng-if=true to obtain isolated scope -->
					<ng-include ng-if="true"
							src="'js/production/request-details.html'"
							onload="request=request"></ng-include>
				</div>
			</div>
		</div>
	</div>
</div>