<!-- Controls to add / change pages and add items to current page -->
<div class="row panel panel-borderless" style="border: 0">
	<div class="col-xs-2">
		<div uib-dropdown auto-close="always">
			<button uib-dropdown-toggle class="btn btn-primary" type="button" data-toggle="dropdown">
				{{ data.currentPage ? data.currentPage.name : 'Select Page' }}
				<span class="caret"></span>
			</button>
			<ul uib-dropdown-menu class="dropdown-menu">
				<li><a href="" ng-mousedown="data.pages.create()">[Create]</a></li>
				<li class="divider"></li>
				<li ng-repeat="page in data.pages.items"><a href="" ng-mousedown="data.currentPage = page">{{ page.name }}</a></li>
			</ul>
		</div>
	</div>
	<!-- Add item to the current page, only shown if we have a current page -->
	<div class="col-xs-2" ng-if="data.currentPage.id">
		<div uib-dropdown auto-close="outsideClick">
			<button uib-dropdown-toggle class="btn btn-primary" type="button" data-toggle="dropdown">
				[Add Item]
				<span class="caret"></span>
			</button>
			<ul uib-dropdown-menu class="dropdown-menu">
				<li ng-if="data.marketGroups.current.parent != null">
					<a href="" ng-mousedown="data.marketGroups.current = data.marketGroups.root">
						[Back to top]
					</a>
				</li>
				<li ng-if="data.marketGroups.current.parent != null && data.marketGroups.current.parent != data.marketGroups.root">
					<a href="" ng-mousedown="data.marketGroups.current = data.marketGroups.current.parent">
						[Back to: {{ data.marketGroups.current.parent.name }}]
					</a>
				</li>
				<li class="divider" ng-if="data.marketGroups.current != data.marketGroups.root"></li>
				<li ng-repeat="group in data.marketGroups.current.children">
					<a href="" ng-mousedown="data.marketGroups.current = group">{{ group.name }}</a>
				</li>
				<li class="divider" ng-if="data.marketGroups.current.children.length != 0 && data.marketGroups.current.types.length != 0"></li>
				<li ng-repeat="type in data.marketGroups.current.types">
					<a href="" ng-mousedown="data.currentPage.requests.createForType(type)">{{ type.name }}</a>
				</li>
			</ul>
		</div>
	</div>
	<!-- We can only edit page headers once the server has assigned an ID -->
	<div class="col-xs-2" ng-if="data.currentPage.id">
		<button class="btn btn-default" type="button" ng-click="data.pages.update(data.currentPage)">Edit</button>
	</div>
	<!-- We can only delete page headers once the server has assigned an ID -->
	<div class="col-xs-2" ng-if="data.currentPage.id">
		<button class="btn btn-warning" type="button" ng-click="data.pages.delete(data.currentPage)">Delete</button>
	</div>
</div>