<!-- Currently the backend doesn't support anonymous users -->
<div class="row" ng-if="data.authStatus == 'cleared'">
	<div class="col-xs-12">
		Sorry, as of now you need to be logged in to use this functionality.
	</div>
</div>


<div class="row" ng-if="data.authStatus == 'finished'">
	<div class="col-xs-12">
		<ng-include src="'js/production/page-header.html'"></ng-include>
		<ng-include src="'js/production/page-body.html'"></ng-include>
	</div>
</div>