<div ng-class="'row panel-link ' + (active ? 'bg-primary' : 'bg-info')"
		ng-click="model.expanded = !model.expanded">
	<div class="col-xs-4" style="padding-left: {{indent}}px;">
		{{ model.activity.name }}
		<span ng-if="model.mainComponent">
			({{ model.mainComponent.type.name }} @ ME {{ model.meModifier }})
		</span>
	</div>
	<div class="col-xs-4">
	</div>
	<div class="col-xs-2">
		Costs / item
	</div>
	<div class="col-xs-2 text-right">
		<isk-value model="model.costPerItem"></isk-value>
	</div>
</div>
<production-material ng-if="model.expanded"
		ng-repeat="(id, material) in model.materials"
		model="material" indent="indent+10"></production-material>