<div class="row bg-none panel-link"
		ng-click="model.expanded = !model.expanded">
	<div class="col-xs-4" style="padding-left: {{indent}}px;">
		{{ model.type.name }}
	</div>
	<div class="col-xs-2">
		Items:
	</div>
	<div class="col-xs-1 text-right">
		{{ model.forOneParent | number:2 }}
	</div>
	<div class="col-xs-1"></div>
	<div class="col-xs-2">
		Costs / item
	</div>
	<div class="col-xs-2 text-right">
		<isk-value model="model.costPerItem"></isk-value>
	</div>
</div>
<production-recipe ng-if="model.expanded"
		ng-repeat="(id, recipe) in model.recipes"
		model="recipe" indent="indent+10" active="recipe === model.activeRecipe"></production-recipe>