<div class="row">
	<div class="col-xs-3">Produced item:</div>
	<div class="col-xs-3">{{ request.type.name }}</div>
</div>
<div class="row">
	<div class="col-xs-3">Produced amount:</div>
	<div class="col-xs-3">{{ request.requestedAmount }}</div>
</div>

<br />
<br />

<expense-group model="request.calculator.result.profit"></expense-group>

<br />
<br />

<production-material model="request.calculator.result.acquisition"
		indent="0"></production-material>

<br />
<br />

<error-group ng-repeat="group in request.calculator.result.errors"
		cls="'alert-danger'"
		model="group"></error-group>
<error-group ng-repeat="group in request.calculator.result.warnings"
		cls="'alert-warning'"
		model="group"></error-group>