.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
}

.bg-disabled {
	background-color: #999999;
}

.bg-none {
	background-color: #FFFFFF;
}

.panel-borderless {
	border: 0;
	box-shadow: none;
}

.isk-positive {
	color: black;
}
.isk-negative {
	color: red;
}

.panel-link {
	cursor: pointer;
}