<div ng-if="(settings.showPending && pending.length != 0 && !settings.popupOnlyFailed)
  		|| (settings.showSucceeded && succeeded.length != 0 && !settings.popupOnlyFailed)
  		|| (settings.showFailed && failed.length != 0)">
	
	<div ng-if="settings.showFailed">
		<div uib-alert type="danger" class="alert-danger" close="close(handler)" ng-repeat="handler in data.failed">
<!--  			<span class="glyphicon glyphicon-warning-sign"></span> -->
			{{ handler.label }}:
			{{ handler.message.status }}
		</div>
	</div>
	
	<div ng-if="settings.showPending">
		<div class="alert alert-info" ng-repeat="handler in data.pending">
<!-- 			<i class="fa fa-spinner fa-spin"></i> -->
			{{ handler.label }}
		</div>
	</div>
	
	<div ng-if="settings.showSucceeded">
		<div uib-alert type="success" class="alert-success" close="close(handler)" ng-repeat="handler in data.succeeded">
<!--  			<span class="glyphicon glyphicon-check"></span> -->
			{{ handler.label }}
		</div>
	</div>
</div>