<ul class="nav nav-pills" role="tablist">
	<!-- We mark navigation elements depending on whether they're the page we're
		currently showing -->
	<li ng-class="getLiClass('/')"><a href="#/">Home</a></li>
	<li ng-class="getLiClass('/production')"><a href="#/production">Production</a></li>
	<li ng-class="getLiClass('/settings')"><a href="#/settings">Settings</a></li>
</ul>