<form novalidate class="simple-form">
	<div class="checkbox">
		<label>
			<input type="checkbox" ng-model="data.showPending" />
			Show pending operations
		</label>
	</div>
	<div class="checkbox">
		<label>
			<input type="checkbox" ng-model="data.showSucceeded" />
			Show successful operations
		</label>
	</div>
	<div class="checkbox">
		<label>
			<input type="checkbox" ng-model="data.showFailed" />
			Show failed operations
		</label>
	</div>
	<div class="checkbox">
		<label>
			<input type="checkbox" ng-model="data.popupOnlyFailed" />
			Popup notification panel only on errors
		</label>
	</div>
</form>